<form method="post" action="{{ path('ct_visite_extra_tarif_delete', {'id': ct_visite_extra_tarif.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet element?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ct_visite_extra_tarif.id) }}">
    <button class="btn">Supprimer</button>
</form>
