{% extends 'base.html.twig' %}

{% block title %}Edit CtVisiteExtraTarif{% endblock %}

{% block body %}
    <h1>Modification Visite Extra Tarif</h1>
    <div  align="center"><a href="{{ path('acceuil') }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"> Acceuil</i></a></div>

    {{ include('ct_visite_extra_tarif/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('ct_visite_extra_tarif_index') }}">Retour</a>

    {{ include('ct_visite_extra_tarif/_delete_form.html.twig') }}
{% endblock %}
