{% extends 'base.html.twig' %}

{% block title %}New CtCarosserie{% endblock %}

{% block body %}
    <h1>Création Carosserie</h1>

    {{ include('ct_carosserie/_form.html.twig') }}

    <a href="{{ path('ct_carosserie_index') }}">Retour</a>
{% endblock %}
