{% extends 'base.html.twig' %}

{% block title %}New CtCentre{% endblock %}

{% block body %}
    <h1>Création Centre</h1>
    <div  align="center"><a href="{{ path('acceuil') }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"> Acceuil</i></a></div>

    {{ include('ct_centre/_form.html.twig') }}

    <a href="{{ path('ct_centre_index') }}">Retour</a>
{% endblock %}
