{% extends 'base.html.twig' %}

{% block title %}New CtCentre{% endblock %}

{% block body %}
    <h1>Création Centre</h1>

    {{ include('ct_centre/_form.html.twig') }}

    <a href="{{ path('ct_centre_index') }}">Retour</a>
{% endblock %}
