{% extends 'base.html.twig' %}

{% block title %}New CtMotifTarif{% endblock %}

{% block body %}
    <h1>Création Motif Tarif</h1>

    {{ include('ct_motif_tarif/_form.html.twig') }}

    <a href="{{ path('ct_motif_tarif_index') }}">Retour</a>
{% endblock %}
