<form method="post" action="{{ path('ct_source_energie_delete', {'id': ct_source_energie.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet element?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ct_source_energie.id) }}">
    <button class="btn">Supprimer</button>
</form>
