{% extends 'base.html.twig' %}

{% block title %}New CtSourceEnergie{% endblock %}

{% block body %}
    <h1>Création Source d'Energie</h1>

    {{ include('ct_source_energie/_form.html.twig') }}

    <a href="{{ path('ct_source_energie_index') }}">Retour</a>
{% endblock %}
