{% extends 'base.html.twig' %}

{% block title %}New CtSourceEnergie{% endblock %}

{% block body %}
    <h1>Création Source d'Energie</h1>
    <div  align="center"><a href="{{ path('acceuil') }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"> Acceuil</i></a></div>

    {{ include('ct_source_energie/_form.html.twig') }}

    <a href="{{ path('ct_source_energie_index') }}">Retour</a>
{% endblock %}
