{% extends 'base.html.twig' %}

{% block title %}New CtUtilisation{% endblock %}

{% block body %}
    <h1>Create new CtUtilisation</h1>

    {{ include('ct_utilisation/_form.html.twig') }}

    <a href="{{ path('ct_utilisation_index') }}">back to list</a>
{% endblock %}
