<form method="post" action="{{ path('ct_imprime_tech_use_delete', {'id': ct_imprime_tech_use.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ct_imprime_tech_use.id) }}">
    <button class="btn">Delete</button>
</form>
