{% extends 'base.html.twig' %}

{% block title %}Edit CtVehicule{% endblock %}

{% block body %}
    <h1>Modification Vehicule</h1>

    {{ include('ct_vehicule/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('ct_vehicule_index') }}">Retour</a>

    {{ include('ct_vehicule/_delete_form.html.twig') }}
{% endblock %}
