{% extends 'base.html.twig' %}

{% block title %}New CtVehicule{% endblock %}

{% block body %}
    <h1>Create new CtVehicule</h1>

    {{ include('ct_vehicule/_form.html.twig') }}

    <a href="{{ path('ct_vehicule_index') }}">back to list</a>
{% endblock %}
