{% extends 'base.html.twig' %}

{% block title %}Acceuil d'intervention{% endblock %}

{% block body %}
    <div align="center"><img src="/dist/images/header.png" class="img-fluid" alt="Image en-tête de la DGSR"></div>
    <div align="center"><h1>Acceuil</h1></div>
    <div align="center">
        <a href="{{ path('ct_statistique') }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"> Historique</i></a>
        <a href="{{ path('ct_manifeste') }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"> Manifeste</i></a>
        <a href="{{ path('suppression_erreur') }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"> Suppression</i></a>
        <a href="{{ path('ct_liste') }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"> Affectation</i></a>
    </div>
{% endblock %}
