{% extends 'base.html.twig' %}

{% block title %}Edit CtAnomalie{% endblock %}

{% block body %}
    <h1>Modification Anomalie</h1>

    {{ include('ct_anomalie/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('ct_anomalie_index') }}">Retour</a>

    {{ include('ct_anomalie/_delete_form.html.twig') }}
{% endblock %}
