{% extends 'base.html.twig' %}

{% block title %}New CtMotif{% endblock %}

{% block body %}
    <h1>Create new CtMotif</h1>

    {{ include('ct_motif/_form.html.twig') }}

    <a href="{{ path('ct_motif_index') }}">back to list</a>
{% endblock %}
