{% extends 'base.html.twig' %}

{% block title %}New CtUsage{% endblock %}

{% block body %}
    <h1>Création Usage</h1>

    {{ include('ct_usage/_form.html.twig') }}

    <a href="{{ path('ct_usage_index') }}">Retour</a>
{% endblock %}
