{% extends 'base.html.twig' %}

{% block title %}Edit CtDroitPtac{% endblock %}

{% block body %}
    <h1>Modification Droit Poids Total A Charge</h1>

    {{ include('ct_droit_ptac/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('ct_droit_ptac_index') }}">Retour</a>

    {{ include('ct_droit_ptac/_delete_form.html.twig') }}
{% endblock %}
