{% extends 'base.html.twig' %}

{% block title %}New CtDroitPtac{% endblock %}

{% block body %}
    <h1>Création Droit PTAC</h1>

    {{ include('ct_droit_ptac/_form.html.twig') }}

    <a href="{{ path('ct_droit_ptac_index') }}">Retour</a>
{% endblock %}
