{% extends 'base.html.twig' %}

{% block title %}Edit CtTypeUsage{% endblock %}

{% block body %}
    <h1>Modification Type d'Usage</h1>

    {{ include('ct_type_usage/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('ct_type_usage_index') }}">Retour</a>

    {{ include('ct_type_usage/_delete_form.html.twig') }}
{% endblock %}
