{% extends 'base.html.twig' %}

{% block title %}New CtTypeUsage{% endblock %}

{% block body %}
    <h1>Création Type d'Usage</h1>

    {{ include('ct_type_usage/_form.html.twig') }}

    <a href="{{ path('ct_type_usage_index') }}">Retour</a>
{% endblock %}
