{% extends 'base.html.twig' %}

{% block title %}New CtUsageTarif{% endblock %}

{% block body %}
    <h1>Création Tarif Usage</h1>

    {{ include('ct_usage_tarif/_form.html.twig') }}

    <a href="{{ path('ct_usage_tarif_index') }}">Retour</a>
{% endblock %}
