{% extends 'base.html.twig' %}

{% block title %}New CtTypeAutreSce{% endblock %}

{% block body %}
    <h1>Create new CtTypeAutreSce</h1>

    {{ include('ct_type_autre_sce/_form.html.twig') }}

    <a href="{{ path('ct_type_autre_sce_index') }}">back to list</a>
{% endblock %}
