<form method="post" action="{{ path('ct_const_av_ded_carac_delete', {'id': ct_const_av_ded_carac.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet element?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ct_const_av_ded_carac.id) }}">
    <button class="btn">Supprimer</button>
</form>
