<form method="post" action="{{ path('ct_const_av_ded_carac_delete', {'id': ct_const_av_ded_carac.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ct_const_av_ded_carac.id) }}">
    <button class="btn">Delete</button>
</form>
