{% extends 'base.html.twig' %}

{% block title %}Edit CtConstAvDedCarac{% endblock %}

{% block body %}
    <h1>Modification Caracteristique Constatation Avant Dedouanement</h1>
    <div  align="center"><a href="{{ path('acceuil') }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"> Acceuil</i></a></div>

    {{ include('ct_const_av_ded_carac/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('ct_const_av_ded_carac_index') }}">Retour</a>

    {{ include('ct_const_av_ded_carac/_delete_form.html.twig') }}
{% endblock %}
