{% extends 'base.html.twig' %}

{% block title %}Edit CtConstAvDedCarac{% endblock %}

{% block body %}
    <h1>Modification Caracteristique Constatation Avant Dedouanement</h1>

    {{ include('ct_const_av_ded_carac/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('ct_const_av_ded_carac_index') }}">Retour</a>

    {{ include('ct_const_av_ded_carac/_delete_form.html.twig') }}
{% endblock %}
