{% extends 'base.html.twig' %}

{% block title %}Edit CtProvince{% endblock %}

{% block body %}
    <h1>Edit CtProvince</h1>

    {{ include('ct_province/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('ct_province_index') }}">back to list</a>

    {{ include('ct_province/_delete_form.html.twig') }}
{% endblock %}
