{% extends 'base.html.twig' %}

{% block title %}New CtPlaqueChassis{% endblock %}

{% block body %}
    <h1>Create new CtPlaqueChassis</h1>

    {{ include('ct_plaque_chassis/_form.html.twig') }}

    <a href="{{ path('ct_plaque_chassis_index') }}">back to list</a>
{% endblock %}
