<form method="post" action="{{ path('ct_genre_tarif_delete', {'id': ct_genre_tarif.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ct_genre_tarif.id) }}">
    <button class="btn">Delete</button>
</form>
