{% extends 'base.html.twig' %}

{% block title %}Edit CtGenreTarif{% endblock %}

{% block body %}
    <h1>Edit CtGenreTarif</h1>

    {{ include('ct_genre_tarif/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('ct_genre_tarif_index') }}">back to list</a>

    {{ include('ct_genre_tarif/_delete_form.html.twig') }}
{% endblock %}
