{% extends 'base.html.twig' %}

{% block title %}Edit CtGenreTarif{% endblock %}

{% block body %}
    <h1>Modification Tarif des Genres</h1>
    <div  align="center"><a href="{{ path('acceuil') }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"> Acceuil</i></a></div>

    {{ include('ct_genre_tarif/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('ct_genre_tarif_index') }}">Retour</a>

    {{ include('ct_genre_tarif/_delete_form.html.twig') }}
{% endblock %}
