{% extends 'base.html.twig' %}

{% block title %}New CtGenreTarif{% endblock %}

{% block body %}
    <h1>Create new CtGenreTarif</h1>

    {{ include('ct_genre_tarif/_form.html.twig') }}

    <a href="{{ path('ct_genre_tarif_index') }}">back to list</a>
{% endblock %}
