{% extends 'base.html.twig' %}

{% block title %}Edit CtTypeVisite{% endblock %}

{% block body %}
    <h1>Edit CtTypeVisite</h1>

    {{ include('ct_type_visite/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('ct_type_visite_index') }}">back to list</a>

    {{ include('ct_type_visite/_delete_form.html.twig') }}
{% endblock %}
