{% extends 'base.html.twig' %}

{% block title %}New CtTypeVisite{% endblock %}

{% block body %}
    <h1>Création Type Visite</h1>
    <div  align="center"><a href="{{ path('acceuil') }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"> Acceuil</i></a></div>

    {{ include('ct_type_visite/_form.html.twig') }}

    <a href="{{ path('ct_type_visite_index') }}">Retour</a>
{% endblock %}
