{% extends 'base.html.twig' %}

{% block title %}New CtImprimeTech{% endblock %}

{% block body %}
    <h1>Create new CtImprimeTech</h1>

    {{ include('ct_imprime_tech/_form.html.twig') }}

    <a href="{{ path('ct_imprime_tech_index') }}">back to list</a>
{% endblock %}
