{% extends 'base.html.twig' %}

{% block title %}Edit CtRole{% endblock %}

{% block body %}
    <h1>Modification Role</h1>

    {{ include('ct_role/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('ct_role_index') }}">Retour</a>

    {{ include('ct_role/_delete_form.html.twig') }}
{% endblock %}
