{% extends 'base.html.twig' %}

{% block title %}Edit CtRole{% endblock %}

{% block body %}
    <h1>Edit CtRole</h1>

    {{ include('ct_role/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('ct_role_index') }}">back to list</a>

    {{ include('ct_role/_delete_form.html.twig') }}
{% endblock %}
