{% extends 'base.html.twig' %}

{% block title %}Edit CtTypeReception{% endblock %}

{% block body %}
    <h1>Modification Type de Reception</h1>

    {{ include('ct_type_reception/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('ct_type_reception_index') }}">Retour</a>

    {{ include('ct_type_reception/_delete_form.html.twig') }}
{% endblock %}
