{% extends 'base.html.twig' %}

{% block title %}New CtTypeReception{% endblock %}

{% block body %}
    <h1>Create new CtTypeReception</h1>

    {{ include('ct_type_reception/_form.html.twig') }}

    <a href="{{ path('ct_type_reception_index') }}">back to list</a>
{% endblock %}
