{% extends 'base.html.twig' %}

{% block title %}Edit CtMarque{% endblock %}

{% block body %}
    <h1>Modification Marque</h1>

    {{ include('ct_marque/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('ct_marque_index') }}">Retour</a>

    {{ include('ct_marque/_delete_form.html.twig') }}
{% endblock %}
