{% extends 'base.html.twig' %}

{% block title %}New CtMarque{% endblock %}

{% block body %}
    <h1>Create new CtMarque</h1>

    {{ include('ct_marque/_form.html.twig') }}

    <a href="{{ path('ct_marque_index') }}">back to list</a>
{% endblock %}
