{% extends 'base.html.twig' %}

{% block title %}New CtVisiteBuckup{% endblock %}

{% block body %}
    <h1>Création Buckup Visite</h1>
    <div  align="center"><a href="{{ path('acceuil') }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"> Acceuil</i></a></div>

    {{ include('ct_visite_buckup/_form.html.twig') }}

    <a href="{{ path('ct_visite_buckup_index') }}">Retour</a>
{% endblock %}
