{% extends 'base.html.twig' %}

{% block title %}New CtConstAvDedType{% endblock %}

{% block body %}
    <h1>Création Type de Constatation Avant Dedouanement</h1>

    {{ include('ct_const_av_ded_type/_form.html.twig') }}

    <a href="{{ path('ct_const_av_ded_type_index') }}">Retour</a>
{% endblock %}
