{% extends 'base.html.twig' %}

{% block title %}Edit CtGenre{% endblock %}

{% block body %}
    <h1>Edit CtGenre</h1>

    {{ include('ct_genre/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('ct_genre_index') }}">back to list</a>

    {{ include('ct_genre/_delete_form.html.twig') }}
{% endblock %}
