{% extends 'base.html.twig' %}

{% block title %}New CtGenre{% endblock %}

{% block body %}
    <h1>Création Genre</h1>

    {{ include('ct_genre/_form.html.twig') }}

    <a href="{{ path('ct_genre_index') }}">Retour</a>
{% endblock %}
