{% extends 'base.html.twig' %}

{% block title %}New CtReception{% endblock %}

{% block body %}
    <h1>Création Reception</h1>

    {{ include('ct_reception/_form.html.twig') }}

    <a href="{{ path('ct_reception_index') }}">Retour</a>
{% endblock %}
