{% extends 'base.html.twig' %}

{% block title %}Edit CtProcesVerbal{% endblock %}

{% block body %}
    <h1>Modification Proces Verbal</h1>

    {{ include('ct_proces_verbal/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('ct_proces_verbal_index') }}">Retour</a>

    {{ include('ct_proces_verbal/_delete_form.html.twig') }}
{% endblock %}
