{% extends 'base.html.twig' %}

{% block title %}New CtProcesVerbal{% endblock %}

{% block body %}
    <h1>Création Proces Verbal</h1>
    <div  align="center"><a href="{{ path('acceuil') }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"> Acceuil</i></a></div>

    {{ include('ct_proces_verbal/_form.html.twig') }}

    <a href="{{ path('ct_proces_verbal_index') }}">Retour</a>
{% endblock %}
