{% extends 'base.html.twig' %}

{% block title %}New CtProcesVerbal{% endblock %}

{% block body %}
    <h1>Create new CtProcesVerbal</h1>

    {{ include('ct_proces_verbal/_form.html.twig') }}

    <a href="{{ path('ct_proces_verbal_index') }}">back to list</a>
{% endblock %}
