{% extends 'base.html.twig' %}

{% block title %}Edit CtDroitPtacBackup{% endblock %}

{% block body %}
    <h1>Edit CtDroitPtacBackup</h1>

    {{ include('ct_droit_ptac_backup/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('ct_droit_ptac_backup_index') }}">back to list</a>

    {{ include('ct_droit_ptac_backup/_delete_form.html.twig') }}
{% endblock %}
