{% extends 'base.html.twig' %}

{% block title %}Edit CtDroitPtacBackup{% endblock %}

{% block body %}
    <h1>Modification Backup Droit Poids Total A Charge</h1>

    {{ include('ct_droit_ptac_backup/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('ct_droit_ptac_backup_index') }}">Retour</a>

    {{ include('ct_droit_ptac_backup/_delete_form.html.twig') }}
{% endblock %}
