{% extends 'base.html.twig' %}

{% block title %}New CtDroitPtacBackup{% endblock %}

{% block body %}
    <h1>Création Backup Droit PTAC</h1>
    <div  align="center"><a href="{{ path('acceuil') }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"> Acceuil</i></a></div>

    {{ include('ct_droit_ptac_backup/_form.html.twig') }}

    <a href="{{ path('ct_droit_ptac_backup_index') }}">Retour</a>
{% endblock %}
