{% extends 'base.html.twig' %}

{% block title %}New CtDroitPtacBackup{% endblock %}

{% block body %}
    <h1>Création Backup Droit PTAC</h1>

    {{ include('ct_droit_ptac_backup/_form.html.twig') }}

    <a href="{{ path('ct_droit_ptac_backup_index') }}">Retour</a>
{% endblock %}
