{% extends 'base.html.twig' %}

{% block title %}New CtReceptionBackup{% endblock %}

{% block body %}
    <h1>Création Backup Reception</h1>

    {{ include('ct_reception_backup/_form.html.twig') }}

    <a href="{{ path('ct_reception_backup_index') }}">Retour</a>
{% endblock %}
