<form method="post" action="{{ path('ct_user_delete', {'id': ct_user.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet element?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ct_user.id) }}">
    <button class="btn">Supprimer</button>
</form>
