{% extends 'base.html.twig' %}

{% block title %}New CtUser{% endblock %}

{% block body %}
    <h1>Create new CtUser</h1>

    {{ include('ct_user/_form.html.twig') }}

    <a href="{{ path('ct_user_index') }}">back to list</a>
{% endblock %}
