{% extends 'base.html.twig' %}

{% block title %}Edit CtGenreCategorie{% endblock %}

{% block body %}
    <h1>Edit CtGenreCategorie</h1>

    {{ include('ct_genre_categorie/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('ct_genre_categorie_index') }}">back to list</a>

    {{ include('ct_genre_categorie/_delete_form.html.twig') }}
{% endblock %}
