{% extends 'base.html.twig' %}

{% block title %}Edit CtGenreCategorie{% endblock %}

{% block body %}
    <h1>Modification Categorie des Genre</h1>

    {{ include('ct_genre_categorie/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('ct_genre_categorie_index') }}">Retour</a>

    {{ include('ct_genre_categorie/_delete_form.html.twig') }}
{% endblock %}
