{% extends 'base.html.twig' %}

{% block title %}New CtGenreCategorie{% endblock %}

{% block body %}
    <h1>Création Genre de Categorie</h1>

    {{ include('ct_genre_categorie/_form.html.twig') }}

    <a href="{{ path('ct_genre_categorie_index') }}">Retour</a>
{% endblock %}
