{% extends 'base.html.twig' %}

{% block title %}New CtTypeDroitPtac{% endblock %}

{% block body %}
    <h1>Création Type de Droit PTAC</h1>

    {{ include('ct_type_droit_ptac/_form.html.twig') }}

    <a href="{{ path('ct_type_droit_ptac_index') }}">Retour</a>
{% endblock %}
