{% extends 'base.html.twig' %}

{% block title %}Edit CtHistorique{% endblock %}

{% block body %}
    <h1>Modification Historique</h1>

    {{ include('ct_historique/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('ct_historique_index') }}">Retour</a>

    {{ include('ct_historique/_delete_form.html.twig') }}
{% endblock %}
