{% extends 'base.html.twig' %}

{% block title %}New CtHistorique{% endblock %}

{% block body %}
    <h1>Création Historique</h1>

    {{ include('ct_historique/_form.html.twig') }}

    <a href="{{ path('ct_historique_index') }}">Retour</a>
{% endblock %}
