{% extends 'base.html.twig' %}

{% block title %}New CtHistorique{% endblock %}

{% block body %}
    <h1>Création Historique</h1>
    <div  align="center"><a href="{{ path('acceuil') }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"> Acceuil</i></a></div>

    {{ include('ct_historique/_form.html.twig') }}

    <a href="{{ path('ct_historique_index') }}">Retour</a>
{% endblock %}
