{% extends 'base.html.twig' %}

{% block title %}New CtCarteGrise{% endblock %}

{% block body %}
    <h1>Création Carte Grise</h1>
    <div  align="center"><a href="{{ path('acceuil') }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"> Acceuil</i></a></div>

    {{ include('ct_carte_grise/_form.html.twig') }}

    <a href="{{ path('ct_carte_grise_index') }}">Retour</a>
{% endblock %}
