{% extends 'base.html.twig' %}

{% block title %}New CtConstAvDed{% endblock %}

{% block body %}
    <h1>Création Constatation Avant Dedouanement</h1>
    <div  align="center"><a href="{{ path('acceuil') }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"> Acceuil</i></a></div>

    {{ include('ct_const_av_ded/_form.html.twig') }}

    <a href="{{ path('ct_const_av_ded_index') }}">Retour</a>
{% endblock %}
