<form method="post" action="{{ path('ct_zone_deserte_delete', {'id': ct_zone_deserte.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet element?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ct_zone_deserte.id) }}">
    <button class="btn">Supprimer</button>
</form>
