{% extends 'base.html.twig' %}

{% block title %}Edit CtZoneDeserte{% endblock %}

{% block body %}
    <h1>Modification Zone Desserte</h1>
    <div  align="center"><a href="{{ path('acceuil') }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"> Acceuil</i></a></div>

    {{ include('ct_zone_deserte/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('ct_zone_deserte_index') }}">Retour</a>

    {{ include('ct_zone_deserte/_delete_form.html.twig') }}
{% endblock %}
