{% extends 'base.html.twig' %}

{% block title %}New CtZoneDeserte{% endblock %}

{% block body %}
    <h1>Create new CtZoneDeserte</h1>

    {{ include('ct_zone_deserte/_form.html.twig') }}

    <a href="{{ path('ct_zone_deserte_index') }}">back to list</a>
{% endblock %}
