{% extends 'base.html.twig' %}

{% block title %}Edit CtVisite{% endblock %}

{% block body %}
    <h1>Edit CtVisite</h1>

    {{ include('ct_visite/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('ct_visite_index') }}">back to list</a>

    {{ include('ct_visite/_delete_form.html.twig') }}
{% endblock %}
