{% extends 'base.html.twig' %}

{% block title %}Edit CtVisite{% endblock %}

{% block body %}
    <h1>Modification Visite</h1>

    {{ include('ct_visite/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('ct_visite_index') }}">Retour</a>

    {{ include('ct_visite/_delete_form.html.twig') }}
{% endblock %}
