{% extends 'base.html.twig' %}

{% block title %}New CtVisite{% endblock %}

{% block body %}
    <h1>Création Visite</h1>

    {{ include('ct_visite/_form.html.twig') }}

    <a href="{{ path('ct_visite_index') }}">Retour</a>
{% endblock %}
